/*
* # Ui-Assign - v1
*
* @auther: @supzero__
*/


/*-------------------
Brand Colors
--------------------*/
@import "branding";


/* overwrite */
@import "overwrites";


/* global vars */
@import "globals";


/* style */
.pusher.site {
  .right.page {
    margin-left:260px;
    
  }
}
.vertical.left.fixed.menu {
  width: 260px;
}

.button{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  &.fixed {
    z-index: 9999999;
    position: fixed;
  }
  &.bottom {
    bottom:5px;
  }
  &.right {
    right:5px;
  }
  &.left{
    left:5px;
  }
}
.popup {
  .ui.items {
    &>.item {
      .content {
        .ui.header {
          font-size: 14px;
        }
        .description{
          margin-top: 0px;
          font-size: 11px;
        }
      }
      &>.image{
        &>img {
          border-radius:50%;
        }
      }
    }
  }
}
.ui.menu {
.dropdown.item {
  &>.inverted.menu , &.menu{
    margin-top: 0px !important;
    font-size:14px;
    border-radius: 0px !important;
    // background-color: #474d54;
    &>.item {
      // color:white !important;
    }
  }
}
}
.dropdown.grid {
  .avatar.image {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-device-width : 300px) and (max-device-width : 820px) {
/* Styles */
/* tablet, landscape iPad, lo-res laptops ands desktops */
  .pusher.site {
    .right.page {
      margin-left:0px !important;
    }
  }
  .vertical.left.fixed.menu {
    display: none !important;
    width: 260px;
  }
  .searchInput {
    display: none !important;
  }
  .popup {
    .mini.image {
      display:none !important;
    }
  }
}
/* #/home */
@import "home";
