/*
* # Ui-Assign - v1
*
* @auther: @supzero__
*/


/*-------------------
Brand Colors
--------------------*/
@import "branding";


/* overwrite */
@import "overwrites";


/* global vars */
@import "globals";


/* style */
.pusher.site {
  .right.page {
    margin-left:260px;
  }
}
.vertical.left.fixed.menu {
  width: 260px;
}

.button{
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  &.fixed {
    position: fixed;
  }
  &.bottom {
    bottom:5px;
  }
  &.right {
    right:5px;
  }
  &.left{
    left:5px;
  }
}

/* #/home */
@import "home";
