
<div class="ui stackable three columns grid" id="home-page">
  <div class="column">


    <div class="ui segments">
      <div class="ui teal inverted segment">

        <p>Accounting Department</p>
      </div>
      <div class="ui segment">

        <div class="ui link divided items">
          <div class="item">
            <div class="ui tiny image">
              <img src="http://placehold.it/72x72">
            </div>
            <div class="content">
              <div class="header">Stevie Feliciano</div>
              <div class="description">
                <p>Team leader</p>
              </div>
            </div>
          </div>
        </div>
        <h4 class="header">Employees <div class="ui label right float">51</div></h4>
        <div class="ui divider"></div>
        <div>
          <a class="ui teal image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Eliot
          </a>
          <a class="ui teal image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Veronika
          </a>
          <a class="ui teal image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui teal image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui teal image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
        </div>
      </div>
    </div>


  </div>
  <div class="column">


    <div class="ui segments">
      <div class="ui olive inverted segment">

        <p>IT Department</p>
      </div>
      <div class="ui segment">

        <div class="ui link divided items">
          <div class="item">
            <div class="ui tiny image">
              <img src="http://placehold.it/72x72">
            </div>
            <div class="content">
              <div class="header">John Doe</div>
              <div class="description">
                <p>Team leader</p>
              </div>
            </div>
          </div>
        </div>
        <h4 class="header">Employees <div class="ui label right float">51</div></h4>
        <div class="ui divider"></div>
        <div>
          <a class="ui olive image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Eliot
          </a>
          <a class="ui olive image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Veronika
          </a>
          <a class="ui olive image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui olive image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui olive image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
        </div>
      </div>
    </div>


  </div>
  <div class="column">


    <div class="ui segments">
      <div class="ui inverted segment">

        <p>HR Department</p>
      </div>
      <div class="ui segment">

        <div class="ui link divided items">
          <div class="item">
            <div class="ui tiny image">
              <img src="http://placehold.it/72x72">
            </div>
            <div class="content">
              <div class="header">Mark Raphlo</div>
              <div class="description">
                <p>Team leader</p>
              </div>
            </div>
          </div>
        </div>
        <h4 class="header">Employees <div class="ui label right float">51</div></h4>
        <div class="ui divider"></div>
        <div>
          <a class="ui image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Eliot
          </a>
          <a class="ui image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Veronika
          </a>
          <a class="ui image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
          <a class="ui image label">
            <img src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
            Gerham
          </a>
        </div>
      </div>
    </div>


  </div>

</div>
